
    <div class="card">
      <% if item.image.attached? %>
          <%= cl_image_tag item.image.key,
                alt: item.name,
                width: 300, height: 200, crop: :fill,
                class: "card-image" %>
        <% else %>
          <%= image_tag "placeholder.png",
                alt: "No image available",
                width: 300, height: 200,
                class: "card-image" %>
        <% end %>
      <div class="card-body">
        <h3 class="card-title"><%= item.name %></h3>
        <div class="rating"><%= '<i id="stars" class="fa-regular fa-star"></i>'.html_safe * item.average_rating.to_i %></div>
        <div class="price">$<%= item.price %></div>
        <p class="description"><%= item.description %></p>
      </div>
    </div>
