
<div class="orders-container">
  <% @orders.each do |order| %>
    <div class="cart-container mb-5">

      <h5 class="mb-3 text-success fw-bold">Order Status: <%= order.status %>!</h5>

      <table class="cart-table">
        <thead>
          <tr>
            <th class="cart-header">Product Name</th>
            <th class="cart-header">Price</th>
            <th class="cart-header">Quantity</th>
            <th class="cart-header">Total Price</th>
            <th class="cart-header">Review</th>
          </tr>
        </thead>
        <tbody>
          <% total_price = 0 %>
          <% order.order_items.each do |order_item| %>
            <% item_price   = order_item.item.price %>
            <% quantity     = order_item.quantity %>
            <% item_total   = item_price * quantity %>
            <% total_price += item_total %>


            <tr class="cart-row">
              <td class="cart-data"><%= order_item.item.name %></td>
              <td class="cart-data">$<%= item_price %></td>
              <td class="cart-data">
                <span class="cart-quantity"><%= quantity %></span>
              </td>
              <td class="cart-data">$<%= item_total %></td>
              <td class="cart-data">
                 <% if order_item.reviews.any? %>
                <span class ="text-muted small">Reviewed</span>
              <% else %>
                <%= link_to "Review", new_order_item_review_path(order_item), class: "btn btn-dark rounded"%>
              <% end %>
              </td>
            </tr>
          <% end %>


          <tr class="cart-row">
            <td class="cart-header"><h7 class="mb-3">Created at: <%= order.created_at.strftime("%F") %></td>
            <td colspan="3" class="cart-data text-end"><strong>Order Total:</strong></td>
            <td class="cart-data"><strong>$<%= total_price.round(2) %></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
