
<!-- Search bar -->
<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form d-flex align-items-center" style="gap: 0.5rem;">
    <input class="form-control" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn d-flex align-items-center justify-content-center">
      <i class="fas fa-search text-secondary"></i>
    </button>
  </div>
<% end %>

<!-- Filter for categories -->
<div class="main-container">
  <div class="category-boxes">
    <%= link_to "All", items_path, class: "category-box #{'active' unless params[:category].present?}" %>
    <% Item::CATEGORIES.each do |category| %>
      <%= link_to items_path(category: category), class: "category-box #{'active' if params[:category] == category}" do %>
        <%= category %>
      <% end %>
    <% end %>
  </div>

  <!-- Display of the items -->
  <h3 class="text-center text-dark fw-bold my-4 display-6">today's offers</h3>
  <div id="items" class = "card-container">
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <%= render "shared/card", item:item %>
      <% end %>
    <% end %>
  </div>
</div>
