
<div class="all-page d-flex">
    <%= cl_image_tag @item.image.key,
          alt: @item.name,
          width: 660,
          crop: :scale,
          class: "item-show-image" %>

  <div class="item-details-container">
    <div class="d-flex flex-column m-5 gap-3 h-100">

        <div>
          <h1 class="name-of-product"><%= @item.name %></h1>
          <div class="reviews-container d-inline-block me-1">
            <%# <%= '<i id="stars" class="fa-regular fa-star text-warning"></i>'.html_safe * @item.average_rating.to_i %>

            <% full_stars = @item.average_rating.to_i %>
            <% empty_stars = 5 - full_stars %>

            <% full_stars.times do %>
              <i class="fa-solid fa-star text-warning"></i>
            <% end %>

            <% empty_stars.times do %>
              <i class="fa-regular fa-star text-warning"></i>
            <% end %>

            <%= link_to "(View all reviews)", item_reviews_path(@item), class:"review-link" %>
          </div>
        </div>

            <div class="description-container d-flex align-items-center">
             <strong>Description: </strong><%= @item.description %>
            </div>
            <div class="category-text">
             <strong>Category:  </strong><%= @item.category %>
            </div>

        <span class="price-tag"><%= @item.price.to_s %>$</span>
          <%= simple_form_for :cart_item,
                      url: cart_items_path,
                      method: :post,
                      html: { class: 'd-inline-block' } do |f| %>
          <%= f.input :item_id,
                      as: :hidden,
                      input_html: { value: @item.id } %>

          <div class="cart-action d-flex flex-column">
          <%= f.input :quantity,
                      as: :integer,
                      input_html: {
                      value: 1,
                      min:   1,
                      class: "form-control w-auto d-inline-block me-2 custom-quantity-box"
                    },
                    wrapper: false,
                    label:   false %>
          <%= f.button :submit,
                    "Add to Cart",
                    class: "btn btn-primary custom-cart-btn" %>
        </div>
    <% end %>
   </div>
</div>
