
<div class="d-flex">
  <%= cl_image_tag @item.image.key,
          alt: @item.name,
          width: 660,
          crop: :scale,
          class: "item-show-image" %>
  <div class="d-flex flex-column m-5 gap-3 h-100">
    <strong>Name:</strong><%= @item.name %>
    <div class="d-inline-block me-1">
      <strong>Average rating:</strong>
      <%= '<i id="stars" class="fa-regular fa-star"></i>'.html_safe * @item.average_rating.to_i %>
      <%= link_to "View all reviews", item_reviews_path(@item), class:"btn btn-outline-secondary btn-sm sm-2" %>
    </div>
      <strong>Description:</strong><%= @item.description %>
    <strong>Category:</strong><%= @item.category %>
  <strong>Price</strong><%= @item.price.to_s %>$
  <%= simple_form_for :cart_item,
                   url: cart_items_path,
                   method: :post,
                   html: { class: 'd-inline-block' } do |f| %>
  <%= f.input :item_id,
              as: :hidden,
              input_html: { value: @item.id } %>
  <%= f.input :quantity,
              as: :integer,
              input_html: {
                value: 1,
                min:   1,
                class: "form-control w-auto d-inline-block me-2"
              },
              wrapper: false,
              label:   false %>
  <%= f.button :submit,
               "Add to Cart",
               class: "btn btn-primary" %>
<% end %>
  </div>
</div>
